* {
	margin: 0;
}

.section,
.fields {
	display: flex;
	flex-direction: column;
}

.fields > label {
	display: grid;
	grid-template-columns: 0.75fr 1fr;
	align-items: center;
	text-align: right;
	gap: 0.5rem;
}

.edit-btn {
	align-self: flex-end;
}
